.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none;
}

.mktoForm .mktoRequiredField .mktoAsterix {
    display: none !important;
}

.mktoForm {
    width: 100% !important;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 24px;
    grid-auto-columns: 1fr;
    font-family: Graphik, sans-serif !important;
}

.mktoFormRow .mktoHtmlText {
    font-size: 15px;
}

.mktoForm .mktoFieldWrap {
    width: 100% !important;
}

.mktoFormRow a {
    padding: 0;
    color: #222;
    text-decoration: underline;
    font-weight: 500 !important;
    background-color: transparent;
}

.mktoFormRow.full-width {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

.mktoButtonRow {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

.mktoForm .mktoError .mktoErrorMsg {
    background-color: #4353FF !important;
    background-image: none !important;
    color: #fff !important;
    border: #4353FF solid 1px !important;
    text-shadow: none !important;
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.55) !important;
    box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.55) !important;
    padding: 10px !important;
    font-family: Graphik, sans-serif;
}

.mktoForm .mktoError .mktoErrorArrow {
    background-color: #4353FF !important;
    border: #4353FF solid 1px !important;
}

.mktoForm .mktoLabel {
    float: inherit;
    font-size: .94rem;
    line-height: 1.4;
    font-family: Graphik, sans-serif;
    display: block;
    font-weight: 500 !important;
    color: #000;
    width: 100% !important;
    margin-bottom: 10px;
    padding-top: 0;
}

.mktoFormRow > .mktoFieldDescriptor.mktoFormCol {
    width: 100%;
    margin-bottom: 0px !important;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    width: auto !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color: #4353FF;
    background-image: none !important;
    font-size: 1rem !important;
    height: auto !important;
    font-weight: 500 !important;
    border: none !important;
    font-family: Graphik, sans-serif !important;
    padding: 16px 24px !important;
    line-height: 1.3;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background: #3545ee;
    border: none !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active {
    background-color: #000 !important;
    background-image: none !important;
}

.mktoField:placeholder {
    color: rgba(0, 0, 0, 0.65) !important;
}

.mktoField {
    margin: 0px;
    border: 1px solid #bbb !important;
    border-radius: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    font-size: 1rem !important;
    font-family: Graphik, sans-serif;
    display: block;
    width: 100% !important;
    padding: 18px 20px !important;
    line-height: 1.5;
    color: #333333;
    vertical-align: middle;
}

.mktoField:hover {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #000 !important;
}

.mktoField:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #4353ff !important;
}

.mktoCheckboxList input {
    height: 32px !important;
}

.mktoForm .mktoFieldWrap .mktoInstruction {
    display: initial !important;
}

.mktoCheckboxList > .mktoField {
    width: 20px !important;
    height: 20px;
}

select.mktoField {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("https://assets-global.website-files.com/6009e6adcf8c45466fee3e56/607609a7e0b30a8938e57152_down%20arrow.svg");
    background-position: 94% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
}

.mktoButtonWrap.mktoSimple {
    margin: 0 !important;
}

/* FORM SPECIFIC RULES */
#mktoForm_1012 > div:nth-child(8) > div.mktoFormCol > div.mktoFieldWrap > div.mktoHtmlText.mktoHasWidth {
    width: 100% !important
}

#mktoForm_1012 > div:nth-child(n+8) {
    grid-column: span 2;
    margin-top: -14px;
}

#mktoForm_1012 > div:nth-child(12) {
    margin-top: -64px;
}

/* Checkbox with Label */
#mktoForm_1012 > div:nth-child(9) > div.mktoFieldDescriptor.mktoFormCol > div.mktoFieldWrap {
    display: grid;
    grid-template-columns: auto 1fr;
}

#mktoForm_1012 > div:nth-child(9) div.mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    grid-row: 1;
}

#LblGated_Content_Opt_In__c {
    display: block;
    padding: 6px 0 0 4px;
    cursor: pointer;
}

.mktoHtmlText > a {
    font-weight: 500;
    text-decoration: underline;
}

/* MOBILE */
@media screen and (max-width: 489px) {
    .mktoForm .mktoFormRow {
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
    }

    .mktoForm input[type=url],
    .mktoForm input[type=text],
    .mktoForm input[type=date],
    .mktoForm input[type=tel],
    .mktoForm input[type=email],
    .mktoForm input[type=number],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        height: 56px !important
    }


    #mktoForm_1012 > div:nth-child(12) {
        margin-top: -40px;
    }
}
